/*
Binance Wallet API

OpenAPI specification for Binance exchange - Wallet API

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package wallet

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// V3APIService V3API service
type V3APIService service

type V3APIWalletCreateAssetGetUserAssetV3Request struct {
	ctx context.Context
	ApiService *V3APIService
	timestamp *int64
	asset *string
	needBtcValuation *bool
	recvWindow *int64
}

func (r V3APIWalletCreateAssetGetUserAssetV3Request) Timestamp(timestamp int64) V3APIWalletCreateAssetGetUserAssetV3Request {
	r.timestamp = &timestamp
	return r
}

func (r V3APIWalletCreateAssetGetUserAssetV3Request) Asset(asset string) V3APIWalletCreateAssetGetUserAssetV3Request {
	r.asset = &asset
	return r
}

func (r V3APIWalletCreateAssetGetUserAssetV3Request) NeedBtcValuation(needBtcValuation bool) V3APIWalletCreateAssetGetUserAssetV3Request {
	r.needBtcValuation = &needBtcValuation
	return r
}

func (r V3APIWalletCreateAssetGetUserAssetV3Request) RecvWindow(recvWindow int64) V3APIWalletCreateAssetGetUserAssetV3Request {
	r.recvWindow = &recvWindow
	return r
}

func (r V3APIWalletCreateAssetGetUserAssetV3Request) Execute() ([]WalletCreateAssetGetUserAssetV3RespItem, *http.Response, error) {
	return r.ApiService.WalletCreateAssetGetUserAssetV3Execute(r)
}

/*
WalletCreateAssetGetUserAssetV3 User Asset (USER_DATA)

Get user assets, just for positive data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return V3APIWalletCreateAssetGetUserAssetV3Request
*/
func (a *V3APIService) WalletCreateAssetGetUserAssetV3(ctx context.Context) V3APIWalletCreateAssetGetUserAssetV3Request {
	return V3APIWalletCreateAssetGetUserAssetV3Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []WalletCreateAssetGetUserAssetV3RespItem
func (a *V3APIService) WalletCreateAssetGetUserAssetV3Execute(r V3APIWalletCreateAssetGetUserAssetV3Request) ([]WalletCreateAssetGetUserAssetV3RespItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []WalletCreateAssetGetUserAssetV3RespItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "V3APIService.WalletCreateAssetGetUserAssetV3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v3/asset/getUserAsset"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.asset != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "asset", r.asset, "", "")
	}
	if r.needBtcValuation != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "needBtcValuation", r.needBtcValuation, "", "")
	}
	if r.recvWindow != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "recvWindow", r.recvWindow, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "timestamp", r.timestamp, "", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextBinanceAuth).(Auth); ok {
			localVarHeaderParams["X-MBX-APIKEY"] = auth.APIKey
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
