/*
Binance Spot API

OpenAPI specification for Binance exchange - Spot API

API version: 0.3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package spot

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// FiatAPIService FiatAPI service
type FiatAPIService service

type ApiGetFiatOrdersV1Request struct {
	ctx context.Context
	ApiService *FiatAPIService
	transactionType *string
	timestamp *int64
	beginTime *int64
	endTime *int64
	page *int32
	rows *int32
	recvWindow *int64
}

// 0-deposit,1-withdraw
func (r ApiGetFiatOrdersV1Request) TransactionType(transactionType string) ApiGetFiatOrdersV1Request {
	r.transactionType = &transactionType
	return r
}

func (r ApiGetFiatOrdersV1Request) Timestamp(timestamp int64) ApiGetFiatOrdersV1Request {
	r.timestamp = &timestamp
	return r
}

func (r ApiGetFiatOrdersV1Request) BeginTime(beginTime int64) ApiGetFiatOrdersV1Request {
	r.beginTime = &beginTime
	return r
}

func (r ApiGetFiatOrdersV1Request) EndTime(endTime int64) ApiGetFiatOrdersV1Request {
	r.endTime = &endTime
	return r
}

// default 1
func (r ApiGetFiatOrdersV1Request) Page(page int32) ApiGetFiatOrdersV1Request {
	r.page = &page
	return r
}

// default 100, max 500
func (r ApiGetFiatOrdersV1Request) Rows(rows int32) ApiGetFiatOrdersV1Request {
	r.rows = &rows
	return r
}

func (r ApiGetFiatOrdersV1Request) RecvWindow(recvWindow int64) ApiGetFiatOrdersV1Request {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiGetFiatOrdersV1Request) Execute() (*GetFiatOrdersV1Resp, *http.Response, error) {
	return r.ApiService.GetFiatOrdersV1Execute(r)
}

/*
GetFiatOrdersV1 Get Fiat Deposit/Withdraw History (USER_DATA)

Get Fiat Deposit/Withdraw History

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFiatOrdersV1Request
*/
func (a *FiatAPIService) GetFiatOrdersV1(ctx context.Context) ApiGetFiatOrdersV1Request {
	return ApiGetFiatOrdersV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetFiatOrdersV1Resp
func (a *FiatAPIService) GetFiatOrdersV1Execute(r ApiGetFiatOrdersV1Request) (*GetFiatOrdersV1Resp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetFiatOrdersV1Resp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FiatAPIService.GetFiatOrdersV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/fiat/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.transactionType == nil {
		return localVarReturnValue, nil, reportError("transactionType is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "transactionType", r.transactionType, "form", "")
	if r.beginTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beginTime", r.beginTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.rows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rows", r.rows, "form", "")
	} else {
		var defaultValue int32 = 100
		r.rows = &defaultValue
	}
	if r.recvWindow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recvWindow", r.recvWindow, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp", r.timestamp, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// Prepare raw parameters for signature if needed
	var rawParams map[string]string
	// Add raw parameters to context if any
	if len(rawParams) > 0 {
		r.ctx = context.WithValue(r.ctx, ContextRawParams, rawParams)
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextBinanceAuth).(Auth); ok {
			localVarHeaderParams["X-MBX-APIKEY"] = auth.APIKey
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFiatPaymentsV1Request struct {
	ctx context.Context
	ApiService *FiatAPIService
	transactionType *string
	timestamp *int64
	beginTime *int64
	endTime *int64
	page *int32
	rows *int32
	recvWindow *int64
}

// 0-buy,1-sell
func (r ApiGetFiatPaymentsV1Request) TransactionType(transactionType string) ApiGetFiatPaymentsV1Request {
	r.transactionType = &transactionType
	return r
}

func (r ApiGetFiatPaymentsV1Request) Timestamp(timestamp int64) ApiGetFiatPaymentsV1Request {
	r.timestamp = &timestamp
	return r
}

func (r ApiGetFiatPaymentsV1Request) BeginTime(beginTime int64) ApiGetFiatPaymentsV1Request {
	r.beginTime = &beginTime
	return r
}

func (r ApiGetFiatPaymentsV1Request) EndTime(endTime int64) ApiGetFiatPaymentsV1Request {
	r.endTime = &endTime
	return r
}

// default 1
func (r ApiGetFiatPaymentsV1Request) Page(page int32) ApiGetFiatPaymentsV1Request {
	r.page = &page
	return r
}

// default 100, max 500
func (r ApiGetFiatPaymentsV1Request) Rows(rows int32) ApiGetFiatPaymentsV1Request {
	r.rows = &rows
	return r
}

func (r ApiGetFiatPaymentsV1Request) RecvWindow(recvWindow int64) ApiGetFiatPaymentsV1Request {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiGetFiatPaymentsV1Request) Execute() (*GetFiatPaymentsV1Resp, *http.Response, error) {
	return r.ApiService.GetFiatPaymentsV1Execute(r)
}

/*
GetFiatPaymentsV1 Get Fiat Payments History (USER_DATA)

Get Fiat Deposit/Withdraw History

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFiatPaymentsV1Request
*/
func (a *FiatAPIService) GetFiatPaymentsV1(ctx context.Context) ApiGetFiatPaymentsV1Request {
	return ApiGetFiatPaymentsV1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetFiatPaymentsV1Resp
func (a *FiatAPIService) GetFiatPaymentsV1Execute(r ApiGetFiatPaymentsV1Request) (*GetFiatPaymentsV1Resp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetFiatPaymentsV1Resp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FiatAPIService.GetFiatPaymentsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/fiat/payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.transactionType == nil {
		return localVarReturnValue, nil, reportError("transactionType is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "transactionType", r.transactionType, "form", "")
	if r.beginTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beginTime", r.beginTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endTime", r.endTime, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.rows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rows", r.rows, "form", "")
	} else {
		var defaultValue int32 = 100
		r.rows = &defaultValue
	}
	if r.recvWindow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recvWindow", r.recvWindow, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp", r.timestamp, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// Prepare raw parameters for signature if needed
	var rawParams map[string]string
	// Add raw parameters to context if any
	if len(rawParams) > 0 {
		r.ctx = context.WithValue(r.ctx, ContextRawParams, rawParams)
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextBinanceAuth).(Auth); ok {
			localVarHeaderParams["X-MBX-APIKEY"] = auth.APIKey
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
