openapi: 3.0.3
info:
  description: OpenAPI specification for Binance exchange - Copytrading API
  title: Binance Copy Trading API
  version: 0.1.0
servers:
- description: Binance Copytrading API Server
  url: https://api.binance.com
- description: Binance Copytrading API Server
  url: https://api1.binance.com
- description: Binance Copytrading API Server
  url: https://api2.binance.com
- description: Binance Copytrading API Server
  url: https://api3.binance.com
- description: Binance Copytrading API Server
  url: https://api4.binance.com
paths:
  /sapi/v1/copyTrading/futures/leadSymbol:
    get:
      description: Get Futures Lead Trading Symbol Whitelist
      operationId: CopytradingGetCopyTradingFuturesLeadSymbolV1
      parameters:
      - explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopytradingGetCopyTradingFuturesLeadSymbolV1Resp'
          description: Successful operation
      security:
      - ApiKey: []
      summary: Get Futures Lead Trading Symbol Whitelist(USER_DATA)
      tags:
      - Future Copy Trading
      - V1
  /sapi/v1/copyTrading/futures/userStatus:
    get:
      description: Get Futures Lead Trader Status
      operationId: CopytradingGetCopyTradingFuturesUserStatusV1
      parameters:
      - explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopytradingGetCopyTradingFuturesUserStatusV1Resp'
          description: Successful operation
      security:
      - ApiKey: []
      summary: Get Futures Lead Trader Status(TRADE)
      tags:
      - Future Copy Trading
      - V1
components:
  schemas:
    APIError:
      description: binance API error
      example:
        msg: msg
        code: 0
      properties:
        code:
          type: integer
        msg:
          type: string
      type: object
    CopytradingGetCopyTradingFuturesLeadSymbolV1Resp:
      example: "{ \"code\": \"000000\", \"message\": \"success\", \"data\": [ { \"\
        symbol\": \"BTCUSDT\", \"baseAsset\": \"BTC\", \"quoteAsset\": \"USDT\" },\
        \ { \"symbol\": \"ETHUSDT\", \"baseAsset\": \"ETH\", \"quoteAsset\": \"USDT\"\
        \ } ] }"
      properties:
        code:
          type: string
        data:
          items:
            $ref: '#/components/schemas/CopytradingGetCopyTradingFuturesLeadSymbolV1Resp_data_inner'
          type: array
        message:
          type: string
      type: object
    CopytradingGetCopyTradingFuturesUserStatusV1Resp:
      example: "{ \"code\": \"000000\", \"message\": \"success\", \"data\": { \"isLeadTrader\"\
        : true, \"time\": 1717382310843 }, \"success\": true }"
      properties:
        code:
          type: string
        data:
          $ref: '#/components/schemas/CopytradingGetCopyTradingFuturesUserStatusV1Resp_data'
        message:
          type: string
        success:
          type: boolean
      type: object
    CopytradingGetCopyTradingFuturesLeadSymbolV1Resp_data_inner:
      properties:
        baseAsset:
          type: string
        quoteAsset:
          type: string
        symbol:
          type: string
      type: object
    CopytradingGetCopyTradingFuturesUserStatusV1Resp_data:
      properties:
        isLeadTrader:
          type: boolean
        time:
          format: int64
          type: integer
      type: object
  securitySchemes:
    ApiKey:
      in: header
      name: X-MBX-APIKEY
      type: apiKey
