openapi: 3.0.3
info:
  description: OpenAPI specification for Binance exchange - Futuresdata API
  title: Binance Futures Data API
  version: 0.1.0
servers:
- description: Binance Futuresdata API Server
  url: https://api.binance.com
- description: Binance Futuresdata API Server
  url: https://api1.binance.com
- description: Binance Futuresdata API Server
  url: https://api2.binance.com
- description: Binance Futuresdata API Server
  url: https://api3.binance.com
- description: Binance Futuresdata API Server
  url: https://api4.binance.com
paths:
  /sapi/v1/futures/histDataLink:
    get:
      description: Get Future TickLevel Orderbook Historical Data Download Link
      operationId: FuturesdataGetFuturesHistDataLinkV1
      parameters:
      - description: "symbol name, e.g. BTCUSDT or BTCUSD_PERP ｜"
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          default: ""
          type: string
        style: form
      - description: "`T_DEPTH` for ticklevel orderbook data, `S_DEPTH` for orderbook\
          \ snapshot data"
        explode: true
        in: query
        name: dataType
        required: true
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: startTime
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endTime
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Server Error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesdataGetFuturesHistDataLinkV1Resp'
          description: Successful operation
      security:
      - ApiKey: []
      summary: Get Future TickLevel Orderbook Historical Data Download Link(USER_DATA)
      tags:
      - Market Data
components:
  schemas:
    APIError:
      description: binance API error
      example:
        msg: msg
        code: 0
      properties:
        code:
          type: integer
        msg:
          type: string
      type: object
    FuturesdataGetFuturesHistDataLinkV1Resp:
      example: "{ \"data\": [ { \"day\": \"2023-06-30\", \"url\": \"https://bin-prod-user-rebate-bucket.s3.ap-northeast-1.amazonaws.com/future-data-symbol-update/2023-06-30/BTCUSDT_T_DEPTH_2023-06-30.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230925T025710Z&X-Amz-SignedHeaders=host&X-Amz-Expires=86399&X-Amz-Credential=AKIAVL364M5ZNFZ74IPP%2F20230925%2Fap-northeast-1%2Fs3%2Faws4_request&X-Amz-Signature=5fffcb390d10f34d71615726f81f99e42d80a11532edeac77b858c51a88cbf59\"\
        \ } ] }"
      properties:
        data:
          items:
            $ref: '#/components/schemas/FuturesdataGetFuturesHistDataLinkV1Resp_data_inner'
          type: array
      type: object
    FuturesdataGetFuturesHistDataLinkV1Resp_data_inner:
      properties:
        day:
          type: string
        url:
          type: string
      type: object
  securitySchemes:
    ApiKey:
      in: header
      name: X-MBX-APIKEY
      type: apiKey
